<h1> Create New Post</h1>
<form action="/posts/create">
  <input type="text" name="post[title]" value=""/>
  <textarea row="10" cols="30" name="post[body]" id=""></textarea>
  <button type="submit">Create Post</button>
</form>
